* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: beige;
  }
  header {
    text-align: center;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content > .box {
    margin: 20px;
  }
  
  .box {
    padding: 10px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 10px;
  }
  
  .box > * {
    text-align: center;
    align-items: center;
    align-self: center;
  }
  .box img {
    width: 100%;
    padding: 10px;
  }
  .name {
    font-size: 20px;
    font-weight: bold;
  }