* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .text-center {
    text-align: center;
  }
  .box {
    margin: auto;
    border: 1px solid rgb(233, 233, 233);
    padding: 15px;
    border-radius: 20px;
    display: table;
  }
  .btn-submit {
    width: 100%;
    margin-top: 15px;
  }