#Menu {
    height:60px;
    background-color: rgb(0, 0, 0);
}
#Menu Ul{
    margin:0;
    padding:0;
}
#Menu li{
    list-style-type:none;
    float:left;
    display:block;
    width:100px;
    height:60px;
    text-align:center;
    line-height:55px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
}
#Menu li a{
    text-decoration:none;
    color:rgb(211, 159, 63);
}
#Menu li:Hover{
    background-color:rgb(255, 255, 255);
}
.search-box input[type=search]{
    margin-left: 300px;
    border: 1px rgb(211, 159, 63) solid;
    background-color: black;
    color:rgb(211, 159, 63);
}