#Menu {
    height:60px;
    background-color: #9b59b6;
}
#Menu Ul{
    margin:0;
    padding:0;
}
#Menu li{
    list-style-type:none;
    float:left;
    display:block;
    width:100px;
    height:60px;
    text-align:center;
    line-height:55px;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    justify-content: space-between;
}
#Menu li a{
    text-decoration:none;
    color:#dccfe7 ;
}
/* #Menu li:Hover{
    background-color:rgb(255, 255, 255);
} */
.search-box input[type=search]{
    margin-left: 300px;
    /* box-sizing: border-box; */
    border: 3px rgb(255, 255, 255) solid;
    background-color: #9b59b6;
    /* color:#dccfe7; */
    /* top: 355px;
    left: 575px;
    height: 30px;
    width: 50px; */
}

/* ::placeholder {
    color:rgb(255, 255, 255);
    opacity: 1; /* Firefox *
  } */