* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: rgb(161, 187, 114);
    padding: 30px;
    text-align: none;
    font-size: 35px;
    color: white;
  
  }
  .css {
    background-color: rgb(154, 88, 88);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  
  }
  table{
    background-color: rgb(111, 90, 90);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
  }
  
  article {
    /* float: left; */
    padding: 20px;
    width: 100%;
    background-color: #75914a;
    height: auto; 
    display: flex;
    justify-content: left;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(54, 205, 225);
    padding: 20px;
    text-align: left;
    color: rgb(13, 12, 12);
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
#Menu {
    height:60px;
    background-color: rgb(244, 243, 206);
}
#Menu Ul{
    margin:0;
    padding:0;
}
#Menu li{
    list-style-type:none;
    float:left;
    display:block;
    width:100px;
    height:60px;
    text-align:center;
    line-height:55px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
}
#Menu li a{
    text-decoration:none;
    color:rgb(120, 151, 142);
}
#Menu li:Hover{
    background-color:rgb(255, 255, 255);
}